.App {
  text-align: center;
}
.del{
  width: 25px;
}
.logo {
  width: 75px;
}
.cart {
  width: 25px;  
}
.numerador {
  color: white;
}
.Counter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Controls {
  display: flex;
  justify-content: center;
  align-content: stretch;
  padding: 8px;
}
.Button {
  margin-left: 15px;
  margin-right: 15px;
}
.ListGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 180px;
  margin-right: 180px;
}
.buttondetalles {
  text-decoration: none;
}
.detailcards{
  display: flex;
  justify-content: center;
  height: fit-content;
}
.card {
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  background: #212121;
  box-shadow: 5px 5px 8px #1b1b1b,
             -5px -5px 8px #272727;
  transition: 0.4s;
}
.card-img {
  min-height: 30%;
  width: 170px;
  background-color: #313131;
  border-radius: 15px;
  background: #313131;
  box-shadow: inset 5px 5px 3px #2f2f2f,
            inset -5px -5px 3px #333333;
}
.card-body {
  margin: 13px 40px 0 20px;
  color: rgb(184, 184, 184);
  font-size: 13px;
}